mixin services-description(args)
    .services-description&attributes(attributes)
        .services-description__title-1 Услуги
        .services-description__title-2 EPC &mdash; подрядчик
        .services-description__text Выступаем в&nbsp;отношениях с&nbsp;партнерами в&nbsp;качестве EPC-подрядчика
