mixin sandwich-button(args)
    .sandwich-button&attributes(attributes)
        .sandwich-button__line.sandwich-button__line_top
        .sandwich-button__line.sandwich-button__line_middle
        .sandwich-button__line.sandwich-button__line_bottom