.object-card {
    display: flex;
    position: relative;
    color: white;
    text-decoration: none;
    outline-color: transparent;
    width: 100%;
    overflow: hidden;
    min-height: 300px;
    padding-top: 52.2%;
    @include media-breakpoint-down(sm) {
      min-height: 223px;
    }
    @media (max-width: 550px) {
      padding-top: 0;
    }

    //.ie & {
    //  padding-top: 52.2%;
    //}


    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(180deg, rgba(29, 29, 41, 0.55) -13.17%, rgba(196, 196, 196, 0) 100%);
      z-index: 1;
    }

    &__img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;

    }

    &__title {
      @include font-19;
      line-height: 1.75;
      max-width: 70%;

      @include media-breakpoint-down(sm) {
        max-width: none;
        width: 100%;
      }
    }

    &__data {
      @include font-38;
      white-space: nowrap;
      color: transparent;
      -webkit-text-stroke: 1px white;

      @include media-breakpoint-down(sm) {
        display: none;
      }


      .ie & {
        color: white;
      }
    }

    &__head {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 50px;
      padding-top: 45px;
      z-index: 1;
      @include media-breakpoint-down(sm) {
        padding: 25px;
      }
      @media (max-width: 550px) {
        position: relative;
      }
    }

    &:hover {
      color: white;
    }
    &:visited {
      color: white;
    }
}
