.video-block {
  margin-bottom: 13.5vh;
  @include media-breakpoint-down(sm) {
    margin-bottom: 50px;
  }


  &__video {
    padding-bottom: 54.3%;
    position: relative;

    .video__item_youtube {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }
}