mixin services-description-inner(args)
    .services-description-inner&attributes(attributes)
        .services-description-inner__title-2.d-none.d-md-block EPC - подрядчик
        .services-description-inner__text Выступаем в отношениях с партнерами в качестве EPC-подрядчика
