.plus {
    width: 40px;
    height: 40px;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        border-top: thin solid currentColor;
        height: 1px;
        transform: translateY(-50%);
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        border-left: thin solid currentColor;
        background-color: currentColor;
        transform: translateX(-50%);
    }

    &_minus::after {
        opacity: 0;
    }

    @include media-breakpoint-down(sm) {
        width: 20px;
        height: 20px;
    }
}
