mixin sandwich-menu-close(args)
    .sandwich-menu-close.sandwich-menu__close&attributes(attributes)
        .sandwich-menu-close__line.sandwich-menu-close__line_top
        .sandwich-menu-close__line.sandwich-menu-close__line_bottom
