.news-slider {
  position: relative;
  margin-bottom: 120px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 30px;
  }

  &__slide {
    display: block;
    height: auto;
  }
  &__wrapper {
    position: relative;
    display: block;
    height: 100%;
    padding: 105px 0 145px;
    background-color: black;

    @include media-breakpoint-down(sm) {
      padding: 69px 0 114px;
    }
  }

  &__bg-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
  }

  &__bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__date {
    margin-bottom: 36px;
    @include font-40;
    line-height: 1.875;
    color: white;

    @include media-breakpoint-down(sm) {
      margin-bottom: 32px;
      line-height: 1.5;
    }
  }
  &__title {
    margin-bottom: 42px;
    @include font-3;
    line-height: 1.5;
    color: white;

    @include media-breakpoint-down(sm) {
      margin-bottom: 23px;
      line-height: 1.33;
    }
  }
  &__text {
    @include font-4;
    line-height: 1.75;
    color: white;

    @include media-breakpoint-down(sm) {
      line-height: 1.875;
    }
  }
}
