.company-inner {
  position: relative;
  overflow: hidden;

  &_offset-vertical-top {
    padding-top: 150px;
    padding-bottom: 115px;

    @include media-breakpoint-between(md, lg) {
      padding-top: 85px;
      padding-bottom: 55px;
    }
    @include media-breakpoint-down(sm) {
      padding-top: 55px;
      padding-bottom: 70px;
    }
  }

  &__epc {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 23vw;
    transform: translateY(23%);

    @include media-breakpoint-down(sm) {
      left: auto;
      top: 25px;
      bottom: auto;
      width: 134vw;
      height: 132vw;
      transform: rotate(90deg);
    }
  }

  &__items {
    @include media-breakpoint-down(sm) {
      margin-bottom: 48px;
    }
  }

  &__item {
    margin-bottom: 47px;
    @include font-19;
    line-height: 1;
    letter-spacing: 0.8px;
    color: $color-2;
    text-transform: uppercase;
    white-space: nowrap;

    &:last-child {
      margin-bottom: 0;
    }

    & > span {
      &:first-child {
        position: relative;
        padding-right: 37px;
        margin-right: 1.66vw;
        color: $color-1;

        @include media-breakpoint-down(sm) {
          margin-right: 32px;
        }

        &::after {
          content: '';
          position: absolute;
          top: 50%;
          right: 0;
          width: 7px;
          height: 7px;
          background-color: $color-2;
          border-radius: 100%;
          transform: translateY(-50%);
        }
      }
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 45px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__text-1 {
    @include font-4;
    line-height: 1.75;
    color: $color-2;

    @include media-breakpoint-down(sm) {
      line-height: 1.875;
    }
  }
}
