mixin company-inner(args)
    .company-inner.container-fluid&attributes(attributes)
        +svg({ name: 'epc' }).company-inner__epc
        .row
            .col-md-6.offset-md-1
                .row
                    .col-md-3.d-flex.flex-column.justify-content-center.company-inner__items
                        .company-inner__item
                            span E
                            span Engineering
                        .company-inner__item
                            span P
                            span Procurement
                        .company-inner__item
                            span C
                            span Construction
                    .col-xl-5.col-md-4.offset-xl-0.offset-md-1.d-flex.flex-column.justify-content-center
                        .company-inner__text-1 Компания берет на&nbsp;себя функцию ЕРС-подрядчика и&nbsp;выполняет весь комплекс работ по&nbsp;объекту: инжиниринг, поставка, строительство, монтаж и&nbsp;пуско-наладка, а&nbsp;также консультационные и&nbsp;сервисные услуги.
