mixin specifications-list(id, args)
    .specifications-list&attributes(attributes)
        .table-responsive-sm
            table.table.table-borderless.specifications-list__table
                block
