mixin preloader(args)
    .preloader&attributes(attributes)
        .preloader__top-space
        .preloader__content.container-fluid
            .preloader__content
                .preloader__title-1
                    .preloader__title-1-word
                        .preloader__title-1-text Таврида
                    .preloader__title-1-word
                        .preloader__title-1-text Энерго
                    .preloader__title-1-word
                        .preloader__title-1-text Строй
                    .preloader__counter
                        .preloader__title-1-text 0
        .preloader__bottom-space
