$color-1: #34D9CA;
$color-2: #2E2E43;
$color-3: #1A1A1A;
$color-5: #F5F5FB;
$color-6: #141414;
$color-7: #DDE1ED;
$color-8: #C4C4C4;
$color-9: #6BD3CA;
$color-10: #DFE3EE;
$color-11: #DCE0E7;
$color-12: #878787;
$color-13: #223A59;
$color-14: #008060;
$color-15: #06254E;
$color-16: #34C5B8;
$color-17: #121F30;
