@font-face {
    font-family: AvenirNextCyr-Bold;
    src: url('../../fonts/AvenirNextCyr/AvenirNextCyr-Bold.woff') format('woff'),
    url('../../fonts/AvenirNextCyr/AvenirNextCyr-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: AvenirNextCyr-BoldItalic;
    src: url('../../fonts/AvenirNextCyr/AvenirNextCyr-BoldItalic.woff') format('woff'),
    url('../../fonts/AvenirNextCyr/AvenirNextCyr-BoldItalic.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: AvenirNextCyr-Demi;
    src: url('../../fonts/AvenirNextCyr/AvenirNextCyr-Demi.woff') format('woff'),
    url('../../fonts/AvenirNextCyr/AvenirNextCyr-Demi.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: AvenirNextCyr-DemiItalic;
    src: url('../../fonts/AvenirNextCyr/AvenirNextCyr-DemiItalic.woff') format('woff'),
    url('../../fonts/AvenirNextCyr/AvenirNextCyr-DemiItalic.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: AvenirNextCyr-Heavy;
    src: url('../../fonts/AvenirNextCyr/AvenirNextCyr-Heavy.woff') format('woff'),
    url('../../fonts/AvenirNextCyr/AvenirNextCyr-Heavy.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: AvenirNextCyr-HeavyItalic;
    src: url('../../fonts/AvenirNextCyr/AvenirNextCyr-HeavyItalic.woff') format('woff'),
    url('../../fonts/AvenirNextCyr/AvenirNextCyr-HeavyItalic.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: AvenirNextCyr-Italic;
    src: url('../../fonts/AvenirNextCyr/AvenirNextCyr-Italic.woff') format('woff'),
    url('../../fonts/AvenirNextCyr/AvenirNextCyr-Italic.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: AvenirNextCyr-Light;
    src: url('../../fonts/AvenirNextCyr/AvenirNextCyr-Light.woff') format('woff'),
    url('../../fonts/AvenirNextCyr/AvenirNextCyr-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: AvenirNextCyr-LightItalic;
    src: url('../../fonts/AvenirNextCyr/AvenirNextCyr-LightItalic.woff') format('woff'),
    url('../../fonts/AvenirNextCyr/AvenirNextCyr-LightItalic.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: AvenirNextCyr-Medium;
    src: url('../../fonts/AvenirNextCyr/AvenirNextCyr-Medium.woff') format('woff'),
    url('../../fonts/AvenirNextCyr/AvenirNextCyr-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: AvenirNextCyr-MediumItalic;
    src: url('../../fonts/AvenirNextCyr/AvenirNextCyr-MediumItalic.woff') format('woff'),
    url('../../fonts/AvenirNextCyr/AvenirNextCyr-MediumItalic.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: AvenirNextCyr-Regular;
    src: url('../../fonts/AvenirNextCyr/AvenirNextCyr-Regular.woff') format('woff'),
    url('../../fonts/AvenirNextCyr/AvenirNextCyr-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: AvenirNextCyr-Thin;
    src: url('../../fonts/AvenirNextCyr/AvenirNextCyr-Thin.woff') format('woff'),
    url('../../fonts/AvenirNextCyr/AvenirNextCyr-Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: AvenirNextCyr-ThinItalic;
    src: url('../../fonts/AvenirNextCyr/AvenirNextCyr-ThinItalic.woff') format('woff'),
    url('../../fonts/AvenirNextCyr/AvenirNextCyr-ThinItalic.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: AvenirNextCyr-UltraLight;
    src: url('../../fonts/AvenirNextCyr/AvenirNextCyr-UltraLight.woff') format('woff'),
    url('../../fonts/AvenirNextCyr/AvenirNextCyr-UltraLight.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: AvenirNextCyr-UltraLightIt;
    src: url('../../fonts/AvenirNextCyr/AvenirNextCyr-UltraLightIt.woff') format('woff'),
    url('../../fonts/AvenirNextCyr/AvenirNextCyr-UltraLightIt.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
