mixin structure(args)
    .structure&attributes(attributes)
        .container-fluid
            .structure__content
                .row
                    .col-md-8.tpg__title-2 Структура
                .row.structure__row
                    .d-none.d-md-block.col-md-1.offset-md-1
                        .structure__city Нижний Новгород
                    .col-md-5
                        .structure__right
                            .structure__title Группа Компаний &laquo;Таврида Энерго Строй&raquo;
                            .structure__address
                                p 603032, Россия, г. Нижний Новгород, ул. Памирская д.&nbsp;11, литер. ВИ
                                p Телефон: +7 (831) 429-29-29 (многоканальный)
                                p Факс: +7 (831) 429-29-29
                                p Email: info@tes.ru
                        .structure__right
                            .structure__title ООО «ТЭС»
                            .structure__address
                                p 603032, Россия, г. Нижний Новгород, ул. Памирская д. 11, литер. Л
                                p Телефон: + 7 (831) 429-29-29 (многоканальный)
                                p Факс: +7 (831) 429-29-29
                                p Email: region@tes.ru
                        .structure__right
                            .structure__title ООО &laquo;Таврида Энерго Строй Нижний Новгород&raquo;
                            .structure__address
                                p 603032, Россия, г. Нижний Новгород, ул. Памирская д. 11, литер. Л
                                p Телефон: +7 (831) 429-29-29 (многоканальный)
                                p Факс: +7 (831) 429-29-29
                                p Email: nnov@tes.ru
                        .structure__right
                            .structure__title ООО &laquo;Таврида Энерго Строй Проект&raquo;
                            .structure__address
                                p 603032, Россия, г. Нижний Новгород, ул. Памирская д. 11, литер. Л
                                p Телефон: +7 (831) 429-29-29 (многоканальный)
                                p Факс: +7 (831) 429-29-29
                                p Email: proekt@tes.ru
                .row.structure__row
                    .d-none.d-md-block.col-md-1.offset-md-1
                        .structure__city Тамбов
                    .col-md-5
                        .structure__right
                            .structure__title ООО &laquo;ТЭС Тамбов&raquo;
                            .structure__address
                                p 392000, Россия, Тамбовская область, г. Тамбов,
                                p проезд Энергетиков, д.30, пом.3, офис 15
                                p Телефон: 8-800-234-33-44
                .row.structure__row
                    .d-none.d-md-block.col-md-1.offset-md-1
                        .structure__city Ухта
                    .col-md-5
                        .structure__right
                            .structure__title &laquo;ТЭС Ухта&raquo; филиал ООО &laquo;ТЭС&raquo;
                            .structure__address
                                p 169314, Россия, Республика Коми, г.Ухта,
                                p ул.Заводская, д.6, оф.207
                                p Телефон: 8-800-234-33-44
                                p Факс: +7 (8216) 79-61-63
                                p Email: ukhta@tes.ru
                .row.structure__row
                    .d-none.d-md-block.col-md-1.offset-md-1
                        .structure__city Киров
                    .col-md-5
                        .structure__right
                            .structure__title &laquo;ТЭС Киров&raquo; филиал ООО &laquo;ТЭС&raquo;
                            .structure__address
                                p 610004, Россия, г. Киров, ул. Советская, д. 15, оф. 1
                                p Телефон: 8-800-234-33-44
                                p Факс: +7 (8332) 36-42-50; 36-53-73
                                p Email: kirov@tes.ru
                .row.structure__row
                    .d-none.d-md-block.col-md-1.offset-md-1
                        .structure__city Пенза
                    .col-md-5
                        .structure__right
                            .structure__title &laquo;ТЭС Пенза&raquo; филиал ООО &laquo;ТЭС&raquo;
                            .structure__address
                                p 440000, Россия, Пензенская область, г. Пенза, ул. Московская, д.27, офис 303
                                p Телефон: 8-800-234-33-44
                                p Факс: +7 (8412) 45-15-90
                                p Email: penza@tes.ru
                .row.structure__row
                    .d-none.d-md-block.col-md-1.offset-md-1
                        .structure__city Уфа
                    .col-md-5
                        .structure__right
                            .structure__title &laquo;ТЭС Уфа&raquo; филиал ООО &laquo;ТЭС&raquo;
                            .structure__address
                                p 450071, Россия, Республика Башкортостан, г.Уфа, ул.Менделеева, 219, оф.303
                                p Телефон: 8-800-234-33-44
                                p Факс: +7 (347) 216-34-75, +7 (347) 216-31-74
                                p Email: ufa@tes.ru
                .row.structure__row
                    .d-none.d-md-block.col-md-1.offset-md-1
                        .structure__city Казань
                    .col-md-5
                        .structure__right
                            .structure__title &laquo;ТЭС Казань&raquo; филиал ООО &laquo;ТЭС&raquo;
                            .structure__address
                                p 420095, Россия, Республика Татарстан, г. Казань, ул. Восстания, д. 100, здание 266 Д,К
                                p Телефон: 8-800-234-33-44
                                p Факс: +7 (843) 212-56-64
                                p Email: kazan@tes.ru
