.gallery {
  position: relative;
  background-color: #fff;
  overflow: hidden;

  &__content {
    position: relative;
    margin: 13.5vh $advantage-container-offset;
  }

  &__wrapper {
    position: relative;
  }

  &__swiper-container {
    margin: 0;
    transition: transform .5s;
    will-change: transform;
  }

  &__swiper-wrapper {
    position: relative;
  }

  &__swiper-slide {
    display: block;
    width: 100%;
  }

  &__space {
    padding-top: $advantage-slide-ratio-factor * 100%;
  }

  &__wrapper {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  &__bg-wrapper {
    width: 100%;
    height: 100%;
  }

  &__bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include media-breakpoint-down(sm) {

    &__slider {
      position: static;
      margin: 10.5vh $advantage-container-offset-small 15.5vh;
    }

    &__content {
      margin: 0;
    }

    &__space {
      padding-top: $advantage-slide-ratio-factor-small * 100%;
    }
  }

  .pswp {

    &__bg {
      background-color: rgba(0,0,0,0.5);
    }

    &__ui--fit {

    }

    &__top-bar {
      background: none;
    }

    $arrow-side-margin: 40px;

    &__button {
      opacity: 0.7;
      &:hover {
        opacity: 1;
      }
    }

    &__button--arrow--left {
      margin-top: 0;
      left: $arrow-side-margin;
    }
    &__button--arrow--right {
      margin-top: 0;
      right: $arrow-side-margin;
    }

    &__button--arrow--left:before, &__button--arrow--right:before {
      background: none;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    }

    &__arrow-wrapper {
      border-color: #fff;

      & > svg {
        fill: #fff;
      }
    }

    @include media-breakpoint-down(sm) {

      &__button {
        display:none;
      }

    }

    .modal__close {
      border-color: white;
      width: 50px;
      height: 50px;

      .sandwich-menu-close__line {
            background-color: white;

      }
    }

  }
}
