.news-modal {
  $root: &;

  &:hover {
    cursor: pointer;
  }
}
.info-block-5__img {
  cursor: pointer;
}

.news-modal-popup {
  $root: &;

  .modal-dialog {
    max-width: 1200px;
  }

  .modal-content {
    background-color: transparent;

    @include media-breakpoint-down(xs) {
      padding-top: 80px;
    }
  }

  .modal__close {
    border-color: white;
    top: 0;
    right: 0;
    left: auto;

    @media screen and (max-width: 950px) {
      border-color: black;
      right: 20px;
      left: auto;
      background-color: white;
      top: 20px;
    }

    @include media-breakpoint-down(xs) {
      border-color: white;
      right: 0;
      background-color: transparent;
      width: 50px;
      height: 50px;
    }

    .sandwich-menu-close__line {
      background-color: white;

      @media screen and (max-width: 950px) {
        background-color: black;
      }
      @include media-breakpoint-down(xs) {
        background-color: white;
      }
    }
  }

  &__content {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;

    @include media-breakpoint-down(xs) {
      margin-top: 25px;
    }

    &-img {
      max-width: 100%;
      @media screen and (max-width: 950px) {
        width: 100%;
        max-width: none;
      }
    }
  }
}