mixin page-navigation(args)
    .page-navigation&attributes(attributes).product-tail__navigation.page-navigation_fixed.page-navigation_hide
        .page-navigation__wrapper
            .page-navigation__anchors
