mixin footer(args)
    .footer.container-fluid&attributes(attributes)
        .row
            .footer__col.col-8.col-md-3 Группа компаний &laquo;Таврида Энерго Строй&raquo; &copy;&nbsp;2019
            .footer__col.col-4.col-md-3
                a(href='tel:88002343344', class='footer__link') 8 (800) 234-33-44
            .footer__col.col-4.col-md-2.justify-content-end
                div design by <a href='https://onlydigital.ru/' target='_blank' class='footer__link'>Only</a>.
