include ../services/services
include ../projects/projects
include ../subscribe-to-news/subscribe-to-news
include ../news/news
include ../clock/clock
include ../map-modal/map-modal
include ../contacts/contacts
include ../static-footer/static-footer
include ../header/header


mixin index-section-3(args)
    .index-section-3&attributes(attributes)
        .index-section-3__wrapper
            +header.d-none.d-md-block
            +services
            +projects
            +subscribe-to-news({
              indexPage: true
            })
            +news
            +clock
            +map-modal(id=`map-modal`, data-lat='-30.397', data-lng='150.644')
            +contacts
            +static-footer
