.spoiler {
  $root: &;
  @include font-42;
  line-height: 1.7;
  color: $color-2;
  border-top: 1px solid $color-8;

  &:last-child {
    border-bottom: 1px solid $color-8;
  }

  &__header {
    position: relative;

    &.collapsed {
      & .spoiler__plus {
        &::after {
          opacity: 1;
        }
      }
    }
  }
  &__title {
    padding: 20px $col-width 20px 0;
    @include font-7;
    line-height: 1.5;
    color: $color-2;
    cursor: pointer;
    hyphens: auto;
  }
  &__plus {
    position: absolute;
    top: 50%;
    right: 0;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 20px;
      height: 0;
      border-bottom: 1px solid $color-2;
      transform: translateY(-50%);
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 0;
      height: 20px;
      border-left: 1px solid $color-2;
      transform: translateX(-50%);
      opacity: 0;
    }
  }
  &__content {
    padding: 60px 0;
    border-top: 1px solid $color-8;

    & h3 {
      display: flex;
      justify-content: space-between;
      margin-bottom: 38px;
      @include font-14;
      line-height: 1.75;
      color: $color-2;
    }
    & p {
      margin-bottom: 34px;
      @include font-42;
      line-height: 1.7;
      color: $color-2;
    }

    & ul {
      margin: 0 0 48px;
      @include font-42;
      line-height: 1.875;
      padding: 0 0 0 20px;
      color: $color-2;

      & > li {
        margin-bottom: 11px;
      }
    }

    & a:not(.link) {
      color: $color-2;

      &:hover, &:focus, &:active {
        color: $color-2;
        text-decoration: none;
      }
    }
  }
  &__row {
    margin-bottom: 5vh;

    &_images {
      margin-bottom: 5.5vh;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__image {
    display: flex;
    align-items: center;
    padding-left: 0;
    padding-right: calc(#{$col-width} / 8);
    text-align: center;
    overflow: hidden;

    &:last-child {
      padding-left: calc(#{$col-width} / 8);
      padding-right: 0;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }
  &__link {
    display: inline-block;
    margin-top: 1.5vh;
    @include font-42;
    line-height: 1.2;
    color: $color-1;
    &:focus,
    &:hover,
    &:active {
      color: $color-1;
    }
  }

  @include media-breakpoint-down(lg) {
    &__image {
      padding: 0;
      margin-bottom: 20px;

      &:last-child {
        padding: 0;
        margin-bottom: 0;
      }

      img {
        height: auto;
        //object-fit: none;
      }
    }
  }
}
