.specifications {
  $root: &;
  padding-top: 10.5vh;
  padding-bottom: 12vh;
  color: $color-2;
  background-color: $color-5;

  &__caption {
    margin-top: 4vh;
    @include font-9;
    line-height: 1.875;
    text-align: right;
    color: $color-2;
  }

  &__row {
    padding: 0 $col-width;
  }

  &__title-1 {
    margin-bottom: 5.5vh;
    @include font-3;
    line-height: 1.5;
  }

  &_bottom-offset {
    margin-bottom: 120px;
  }

  &__text {
    @include font-9;
    color: $color-2;
    line-height: 1.75;
    margin-bottom: 50px;
  }

  &__more {
    position: relative;
    padding: 2vh 2vw;
    @include font-7;
    border: 2px solid $color-1;
    cursor: pointer;

    &-plus {
      position: absolute;
      top: 50%;
      right: 2vw;
      width: 20px;
      height: 20px;
      transform: translateY(-50%);

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 20px;
        height: 0;
        border-bottom: 1px solid $color-2;
        transform: translateY(-50%);
      }
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 20px;
        border-left: 1px solid $color-2;
        transform: translateX(-50%);
        opacity: 0;
      }
    }

    &-show {
      display: none;
    }
    &-hide {
      display: block;
    }

    &.collapsed {

      & #{$root}__more {
        &-show {
          display: block;
        }
        &-hide {
          display: none;
        }
        &-plus {
          &::after {
            opacity: 1;
          }
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    padding-top: 40px;
    padding-bottom: 62px;

    &_bottom-offset {
      margin-bottom: 60px;
    }

    &__row {
      padding: 0;
    }
    &__title-1 {
      margin-bottom: 1.5vh;
    }
    &__text-1 {
      display: block;
    }
    &__more {
      padding: 3vh 0;
      border-left: none;
      border-right: none;

      &-plus {
        right: 0;
      }
    }
  }

  & ul {
    padding: 0;
  }

  & li {
    padding: 5px 40px 0;
    position: relative;
    list-style-type: none;

    &::before {
      content: '\00b7';
      position: absolute;
      left: 20px;
    }
  }
}
